* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

h1,
h2,
h3 {
  margin: 16px 0px;
}

p {
  margin: 16px 0px;
  max-width: 800px;
}

ul {
  padding-left: 35px;
}

li {
  margin: 16px 0px;
}

section {
  padding: 16px 0px;
}
